* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ccc;
}

.container {
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 100px;
    padding: 2rem;
    background-color: #fff;
}

.formulario form {
    margin-top: 1rem;
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.formulario button {
    padding: 5px 10px;
}

input {
    padding: 5px 10px;
    width: 300px;
}

li{
    margin-bottom: 8px;
}

li:hover {
    cursor: pointer;
    scale: 1.15;
    opacity: 0.7;
    transition: 0.125s;
}

.risco {
    text-decoration: line-through;
}